.content h1 {
    text-align: center;
    margin-top: 25px;

}
.home_list-ordis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.both_sides {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.left_side {
    width: 50%;
    border-right: 2.5px solid black;
    padding: 0 100px;
    text-align: center;
}


.right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-left: 2.5px solid black;
    padding: 0 100px;
    text-align: center;


}

/*FIN HOME*/

.comparateur_content{
    display: flex;
}

    .comparateur_content form{
        width: 300px;
    }

.filtres {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown {
    width: 200px;
}


.btn {
    margin-bottom: 10px;
}

.oneFiltre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit {
    width: 200px;
}





/* flex */
.flex_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

