/*LES ORDIS*/
h1 {
    text-align: center;
}

.gridOrdis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    margin: auto;
}

.unOrdi {
    /*width: 80%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.unOrdi:hover a{
    font-weight: bold;
    text-transform: uppercase;
    color: #8C2CE4;
}

.nameOrdi {
    text-align: center;
    margin-top: 20px;
}
.photoOrdi {
    width: 300px;
    height: 300px;
}

.photoOrdi img {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.nameOrdi, .photoOrdi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

/*UN ORDI*/

.ordinateur {
}

.presentation {
    display: flex;
    justify-content: space-around;
}

.ordinateur_presentation-img {
    height: 300px;
    width: 300px;
    content: " ";
    background-image: var(--image-src);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -50px;
}

.caracteristiquesImportantes {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: -200px;
}

.ordisEmoji {
    list-style-type: "\1F4BB";
}

.padEmoji  {
    padding-left: 10px;
}


.gridCaracteristiques {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-rows: auto;
    margin: auto;
}

.name {
    text-align: right;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.vendeurs {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hr {
    border-top: 2px solid #8C2CE4;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
