@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 5px;

}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

a {
    color: #0434EC;
}

a:hover {
    color: #8C2CE4;
}

.navbar-brand {
    font-family: 'Righteous';
    font-size: 1.5em;
}
.firstColor {
    color: #8C2CE4;
}

.navbar-brand:hover .firstColor{
    color: #0434EC;
}

.secondColor {
    color: #0434EC;
}

.navbar-brand:hover .secondColor{
    color: #8C2CE4;
}





