@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive !important;
    letter-spacing: 5px;

}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Righteous';
    font-size: 1.5em;
}
.firstColor {
    color: #8C2CE4;
}

.navbar-brand:hover .firstColor{
    color: #0434EC;
}

.secondColor {
    color: #0434EC;
}

.navbar-brand:hover .secondColor{
    color: #8C2CE4;
}

.content, .home {
    margin: 0;
}


.content{
    margin-right: 200px;
    margin-left: 200px;
}

/* home */
.home_list-ordis{
    margin:0;
    padding:0;
    display: flex;
}
.home_list-ordis img{
    height:200px;
    display: flex;
    flex-direction: row;
    margin: 0;
}


/* listes des ordis */
.ordinateurs{
    display: flex;
    flex-direction: column;

}
    .ordinateurs .list-ordi{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .ordinateurs .list-ordi-item{
            height: 400px;
            width: 400px;
        }
            .ordinateurs .list-ordi-item-photo{
                height: 380px;
                display: flex;
                align-items: flex-end;
            }
                .ordinateurs .list-ordi-item-photo img{
                    width: 100%;
                }
            .ordinateurs .list-ordi-item-text{
               color :rgb(44, 44, 44);
            }


/*presentations des ordinateurs*/

.ordinateur_presentation{
    display: flex;
    flex-direction: column;
}

    .ordinateur_presentation-head{
        display: flex;
        align-items: center;
    }


    .caracteristiques{
        display: flex;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 50px;
        width: 600px;
    }
    .caracteristiques.color{
        background-color: rgba(255, 232, 232, 1);
        border-radius: 50px;
    }
        .caracteristiques .name{
            width: 300px;
        }
